*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    border: none;
    outline: none;
    scroll-behavior: smooth;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

:root{
    --bg-color:#1f242d;
    --second-bg-color:#323946;
    --text-color:#fff;
    --main-color: #0ef;
}

html {
    font-size: 62.5%;
    overflow-x: hidden;
}

body {
    background: var(--bg-color);
    color: var(--text-color);

}

section{
    
    /*padding: 7rem 9% 10rem 2rem;*/
}

.header{
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    padding: 2rem 9%;
    background: var(--bg-color);
    display: flex;
    justify-content: space-between;
    align-items: center;
    z-index: 100;
}

.header.sticky {
    border-bottom: .1rem solid rgba(0, 0, 0, .2);
}

.logo{
    font-size: 2.5rem;
    color: var(--text-color);
    font-weight: 600;
    cursor: default;
}

.navbar a{
    font-size: 1.7rem;
    color: var(--text-color);
    margin-left: 4rem;
    transition: .3s;
}

.navbar a:hover,
.navbar a:active{
    color: var(--main-color);
}

#menu-icon{
    font-size: 3.6rem;
    color: var(--text-color);
    display: none;
}

.home{
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 90px 90px 0px 90px;
}

.home-img img{
    width: 280px;
    height: 280px;
    border-radius: 1000px;
    border: 2px solid #0ef;
    display: flex;
    padding: 7px 7px;
    
}

.home-content h3{
    font-size: 3.2rem;
    font-weight: 700;

}

.home-content h3:nth-of-type(2){
    margin-bottom: 2rem;
}

span{
    color: var(--main-color);
}

.home-content h1{
    font-size: 5.6rem;
    font-weight: 700;
    line-height: 1.3;

}

.home-content p{
    font-size: 1.6rem;

}

.social-media a{
    display: inline-flex;
    justify-content: center;
    align-items: center;
    width: 4rem;
    height: 4rem;
    background: transparent;    
    border: .2rem solid var(--main-color);
    border-radius: 50%;
    font-size: 2rem;
    color: var(--main-color);
    margin: 3rem 1.5rem 3rem 0;

}

.social-media a:hover {
    background: var(--main-color);
    color: var(--second-bg-color);
    box-shadow: 0 0 1rem var(--main-color);
}

.btn {
    display: inline-block;
    padding: 1rem 1.5rem;
    background: var(--main-color);
    border-radius: 4rem;
    box-shadow: 0 0 1rem var(--main-color);
    font-size: 1.6rem;
    color: var(--second-bg-color);
    letter-spacing: .1rem;
    font-weight: 600;
    transition: .5s ease;
}

.btn:hover {
    box-shadow: none;
    box-shadow: 0 0 1rem var(--main-color);
}

.sobre-mi{
    display: flex;
    justify-content: center;
    align-items: flex-start;
    gap: 1rem;
    background: var(--second-bg-color);
    position: relative;
    padding: 90px 90px 40px 90px;
    margin-top: 100px;
}

.heading{
    text-align: center;
    font-size: 4.5rem;
}

.sobre-mi-content h2{
    text-align: center;
    line-height: 1.2;
    font-weight: 700;
}

.sobre-mi-content h3{
    font-size: 2.6rem;
    font-weight: 700;
}

.sobre-mi-content p{
    font-size: 1.6rem;
    margin: 2rem 0 3rem;
    
}

.habilidades-container{
    display: flex;
    flex-direction: row; /* Cambiado a dirección de fila */
    justify-content: center; /* Centra las filas horizontalmente */
    flex-wrap: wrap; /* Permite que las filas se envuelvan a la siguiente línea si no hay suficiente espacio */
}

.habilidades-item{
    margin: 10px;
    
}

.habilidades-item img{
    width: 120px;
    height: 100px;
    padding: 6px 6px;
}


.certificados{
    
    padding: 90px 90px 0px 90px;
    
    
}

.certificados-container {
    position: relative;
    overflow: hidden;
    text-align: center;
}

#certificados-slider {
    display: flex;
    transition: transform 0.5s ease-in-out;
    justify-content: space-between;
}

.certificados-container h2 {
    text-align: center;
    line-height: 1.2;
    font-weight: 700;
}

.certificado-item {
    flex: 0 0 100%;
    box-sizing: border-box;
    margin: 0 ;  /*Añade un margen entre las imágenes */
    
}

.certificado-item img {
    border: 1px solid #ddd;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    width: 600px;
    height: 400px;
}

.certificados-botones {
    padding: 40px 10px 20px 10px;
}

button {
    margin: 10px;
}

.experiencia {
    padding: 90px 90px 40px 90px;
    background-color: var(--second-bg-color);
    margin-top: 100px;
  }
  
  .experiencia h2 {
    
    margin-bottom: 20px;
    font-size: 4.2rem;
    font-weight: 700;
  }
  
  .experiencia-item {
    position: relative;
    border-radius: 8px;
    /*padding: 15px 100px 0px 100px;*/
    margin-bottom: 20px;
    display: block;
  }
  
  .experiencia-item h3 {
    font-size: 3.2rem;
    font-weight: 700;
  }
  
  .job-title {
    
    
    color: var(--main-color);
    font-size: 2.7rem;
    font-weight: 350;
    
  }
  
  .company {
    font-weight: bold;
    
    margin-bottom: 8px;

    font-size: 2.0rem;
    font-weight: 200;
  }
  
  .date {
    
    font-size: 1.5rem;
    font-weight: 150;

  }
  
  .description {
    
    font-size: 1.5rem;
    font-weight: 150;
  }

  .nombreApp {
    color: var(--main-color);
    font-size: 1.5rem;
    font-weight: 150;
  }

.proyectos {
    padding: 90px 90px 40px 90px;
    margin-top: 100px;
}  

.proyectos h2{
    margin-bottom: 20px;
    font-size: 4.2rem;
    font-weight: 700;

}

.proyectos-container {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    gap: 2rem;
}

.proyectos-container .proyectos-box {
    flex: 1 1 30rem;
    background: var(--second-bg-color);
    padding: 2rem 2rem 4rem;
    border-radius: 2rem;
    text-align: center;
    border: .2rem solid var(--bg-color);
    transition: .5s ease;
}

.proyectos-container .proyectos-box:hover {
    border-color: var(--main-color);
    transform: scale(1.02);
}



.proyectos-box i {
    font-size: 7rem;
    color: var(--main-color);
}

.proyectos-box h3 {
    font-size: 2.6rem;
}

.proyectos-box p {
    font-size: 1.6rem;
    margin: 1rem 0 3rem;
}

.proyectos-tecn{
    padding: 15px 0px 15px 0px;
}

.proyectos-tecnologia{
    font-size: 1.6rem;
    text-align: left;
}

.contacto {
    padding: 80px 90px 40px 90px;
    
    
}

.contacto h2 {
    
    margin-bottom: 20px;
    font-size: 4.2rem;
    font-weight: 700;
}

.contacto form {
    max-width: 70rem;
    margin: 1rem auto;
    text-align: center;
    margin-bottom: 3rem;
}

.contacto form .input-box {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}

.contacto form .input-box input,
.contacto form textarea {
    width: 100%;
    padding: 1.5rem;
    font-size: 1.6rem;
    color: var(--text-color);
    background: var(--second-bg-color);
    border-radius: .8rem;
    margin: .7rem 0;
}

.contacto form .input-box input {
    width: 49%;
}

.contacto form textarea {
    resize: none;

}

.contacto form .btn {
    padding: 1.5rem;
    cursor: pointer;
}

.footer {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
    padding: 2rem 9%;
    background: var(--second-bg-color);
}

.footer-text p{
    font-size: 1.6rem;
    text-align: center;
}

.footer-iconTop a {
    display: inline-flex;
    justify-content: center;
    align-items: center;
    padding: .8rem;
    background: var(--main-color);
    border-radius: .8rem;
    transition: .5s ease;
}

.footer-iconTop a:hover {
    box-shadow: 0 0 1rem var(--main-color);
}

.footer-iconTop a i {
    font-size: 2.4rem;
    color: var(--second-bg-color);
}

/*BRAKEPOINT*/
@media (max-width: 1200px){
    html {
        font-size: 55%;
    }

    .sobre-mi {
        padding: 90px 90px 40px 90px;
        margin-top: 100px;
        
    }



    .experiencia{
        padding: 90px 90px 40px 90px;
        
    }

    .proyectos {
        padding: 80px 90px 40px 90px;
        
    } 

    .certificados{
        padding: 90px 80px 20px 80px;
        
        
    }
    

}

@media (max-width: 991px){
    .header {
        padding: 2rem 3%;
    }

    .home {
        padding: 90px 0px 0px 40px;
    }

    .sobre-mi {
        padding: 90px 50px 40px 50px;
        margin-top: 100px;

    }


    .experiencia{
        padding: 100px 15px 20px 0px;
        
    }

    .experiencia-item {
        padding: 10px 15px 10px 25px;
    }


    .proyectos {
        padding-bottom: 7rem;
    }

    .certificados{
        padding: 60px 80px 0px 80px;
        margin-top: 35px;
    }

    .contacto {
        padding: 65px 90px 0px 90px;
        
        
    }

    .footer {
        padding: 2rem 3%;
    }
}

@media (max-width: 768px){
    #menu-icon {
        display: block;
    }

    .navbar {
        position: absolute;
        top: 100%;
        left: 0;
        width: 100%;
        padding: 1rem 3%;
        background: var(--bg-color);
        border-top: .1rem solid rgba(0, 0, 0, .2);
        box-shadow: 0 .5rem 1rem rgba(0, 0, 0, .2);
        display: none;
    }

    .navbar.active {
        display: block;
    }

    .navbar a {
        display: block;
        font-size: 2rem;
        margin: 3rem 0;
    }

    .home {
        flex-direction: column;

    }

    .home-content h3 {
        font-size: 2.6rem;
    }  
    
    .home-content h1 {
        font-size: 5rem;
    }

    .sobre-mi {
        padding: 90px 20px 40px 20px;
        margin-top: 100px;
    }

    .sobre-mi-content {
        width:  100%;
    }

    .home-img img{
        width: 230px;
        height: 230px;
    }


    /*.certificado-item {
        flex: 0 0 100%;
        box-sizing: border-box;
        margin: 0; 
    }*/

    .certificado-item img {
        border: 1px solid #ddd;
        border-radius: 8px;
        box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
        width: 100%;
        height: auto;
        
    }

    .certificados{
        padding: 80px 80px 0px 80px;
        margin-top: 30px;
    }

    .proyectos h2 {
        margin-bottom: 3rem;
    }


}

@media (max-width: 550px) {
    html {
        font-size: 50%;

    }

    .contacto form .input-box input {
        width: 100%;

    }

    .sobre-mi {
        padding: 90px 20px 40px 20px;
        margin-top: 100px;
    }

    .sobre-mi-content {
        width:  100%; 
    }

    .home-img img{
        width: 230px;
        height: 230px;
    }



    .certificado-item img {
        border: 1px solid #ddd;
        border-radius: 8px;
        box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
        width: 100%;
        height: auto;
        
    }

    .certificados{
        padding: 80px 80px 0px 80px;
        margin-top: 30px;
    }
    
    
    


    
}

@media (max-width: 365px) {
    .home-img img {
        margin-top: 20px;
        width: 220px;
        height: 220px;
        
    }


    .sobre-mi {
        padding: 90px 20px 40px 20px;
        margin-top: 100px;
    }

    .sobre-mi-content {
        width:  100%; 
    }

    .proyectos {
        padding: 80px 40px 0px 40px;
        
    } 

    .proyectos-container {
        display: flex;
        justify-content: center;
        align-items: center;
        flex-wrap: wrap;
        gap: 2rem;
    }
    
    .certificado-item img {
        border: 1px solid #ddd;
        border-radius: 8px;
        box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
        width: 100%;
        height: 100%;
        
    }

    .certificados{
        padding: 80px 80px 0px 80px;
        margin-top: 30px;
    }

    .heading{
        text-align: center;
        font-size: 3.5rem;
    }

    .contacto {
        padding: 65px 40px 0px 40px;
        margin-top: 30px;
        
    }

    .footer {
        flex-direction: column-reverse;

    }

    .footer p {
        text-align: center;
        margin-top: 2rem;
    }


}

